@model IEnumerable<FinalLaboIV.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>PROVEEDORES</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Everyone"))
{
    <p>
        <a asp-action="Create" class="btn btn-light">Crear nuevo proveedor</a>
    </p>
}
<table class="table table-hover">
    <thead class="table-secondary text-uppercase">
        <tr>
            <th class="text-center col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center col-sm-1">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-center col-sm-2">
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th class="text-center col-sm-1">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="text-center col-sm-1">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th class="text-center col-sm-4">
                Acciones 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Everyone"))
                {
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"> Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Información</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>