@model FinalLaboIV.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(@Model.Photo))
            {
                <img src="/images/products/@Model.Photo" class="img-thumbnail"
                     style="max-height:250px" asp-append-version="true" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favourite)
        </dt>
        @if (Model.Favourite)
        {
            <dd class="col-sm-10">
                Si
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                No
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Description)
        </dd>

        @if (Model.SupplierProduct.Count > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SupplierProduct)
            </dt>
            <dd class="col-sm-10">
                <table class="table text-center">
                    <tr class="table-secondary text-uppercase">
                        <th>
                            Nombre Proveedor
                        </th>
                        <th>
                            Telefono Proveedor
                        </th>
                    </tr>
                    @foreach (var item in Model.SupplierProduct)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Phone)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>
